extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block
prepend javascript-block
  script(src="js/clmtrackr.js")

block content-block
  

  #container
    video#local_video(autoplay)
    canvas#drawCanvas(with="640" height="480")
  button#start Start
  p#positions
